.contenedor{
	width: 100%;
	height: 550px;
	background-color: #f3f9fb;
}

input[type="radio"]{
 	width: 125px;
 	height: 145px;
 	border: 2px solid white;
 	display: inline-block;
 	-webkit-appearance: none;
	margin-top: 10px;
	margin-left: 420px;
	size: 100px;
	cursor: pointer;
}

.botonesArriba{
	background-color: #f3f9fb;
	vertical-align: center;
	text-align: center
}

.item{
	margin-top: 10px;
	vertical-align: center;
	display: inline-block;
	text-align: center;
	width: 80px;
	margin-right: 20px;
}

.item2{
	margin-top: 10px;
	vertical-align: center;
	display: inline-block;
	text-align: center;
	width: 80px;
	margin-left: 20px;
}

.camara{
	width: 70px;
	height: 70px;
}

.galeria{
	width: 70px;
	height: 70px;
}

.titulo{
	display: block;
	color: black;
}

.display-image{
	width: 265px;
	height: 300px;
	position: absolute;
	top: 115px;
	right: 630px;
	background-image: url(../img/maniquies.jpg);
	background-size: 250px;
	margin-top: 60px;
}

.display-image2{
	width: 250px;
	height: 250px;
	position: absolute;
	top: 470px;
	right: 645px;
	background-image: url(../img/maniquies.jpg);
	background-size: 250px;
	background-position-y: -300px;
}



/*PRENDAS ARRIBA*/
#uno{
	background-image: url(../../Abrigo/FotosProductos/abrigoCanguro.jpg);
	background-size: cover;
}
#tres{
	background-image: url(../../Jersey/FotosProductos/jerseyRayas.jpg);
	background-size: cover;
}
#cinco{
	background-image: url(../../DetallesProductos/img/camisetaBasicaAzul1.jpg);
	background-size: cover;
}

#uno:checked~ .display-image{background-image: url(../img/pruebaArriba1.jpg);}
#tres:checked~ .display-image{background-image: url(../img/pruebaArriba3.jpg);}
#cinco:checked~ .display-image{
	background-image: url(../img/pruebaArriba2.jpg);
	background-size: 246px;
	background-position-x: 2px;
}

/*PRENDAS ABAJO*/
#dos{
	background-image: url(../../Pantalon/FotosProductos/pantalonCuadrosjpg.jpg);
	background-size: cover;
}

#cuatro{
	background-image: url(../../DetallesProductos/img/faldaVaquera1.jpg);
	background-size: cover;
}
#seis{
	background-image: url(../../DetallesProductos/img/faldaPunk1.jpg);
	background-size: cover;
}


#dos:checked~ .display-image2{
	background-image: url(../img/pruebaAbajo3.jpg);
	background-size: 215px;
	background-position-y: 0px;
	background-position-x: 20px;
}
#cuatro:checked~ .display-image2{
	background-image: url(../img/pruebaAbajo1.jpg);
	background-size: 215px;
	background-position-y: 0px;
	background-position-x: 20px;
}
#seis:checked~ .display-image2{
	background-image: url(../img/pruebaAbajo2.jpg);
	background-size: 215px;
	background-position-y: 0px;
	background-position-x: 20px;
}


/* RESPONSIVEEEEEEE */

@media screen and (max-width: 1100px){
	input[type="radio"]{
		margin-left: 45px;
	}

	.display-image{

		width: 265px;
		height: 300px;
		position: absolute;
		top: 268px;
   		right: 400px;
		background-image: url(../img/maniquies.jpg);
		background-size: 250px;
		margin-top: 60px;
	}

	.display-image2{
		width: 250px;
		height: 250px;
		position: absolute;
		top: 627px;
		right: 415px;
		background-image: url(../img/maniquies.jpg);
		background-size: 250px;
		background-position-y: -300px;

	}

}

@media screen and (max-width: 1072px){

	input[type="radio"]{
		margin-left: 38px;
	}
	.display-image{

		width: 265px;
		height: 300px;
		position: absolute;
		top: 280px;
    	right: 295px;
		background-image: url(../img/maniquies.jpg);
		background-size: 250px;
		margin-top: 60px;	
	}

	.display-image2{
		width: 250px;
		height: 250px;
		position: absolute;
		top: 640px;
		right: 310px;
		background-image: url(../img/maniquies.jpg);
		background-size: 250px;
		background-position-y: -300px;
	}
}

@media screen and (max-width: 893px){

	input[type="radio"]{
		margin-left: 37px;
	}
	
		.display-image{

		width: 265px;
		height: 300px;
		position: absolute;
		top: 280px;
		right: 45px;
		background-image: url(../img/maniquies.jpg);
		background-size: 250px;
		margin-top: 60px;
		
	
	}

	.display-image2{
		width: 250px;
		height: 250px;
		position: absolute;
		top: 640px;
   		right: 59px;
		background-image: url(../img/maniquies.jpg);
		background-size: 250px;
		background-position-y: -300px;

	}

}

@media screen and (max-width: 700px){

	input[type="radio"]{
		margin-left: 54px;
	}
	
	.display-image{
		width: 265px;
		height: 300px;
		position: absolute;
		top: 440px;
		right: 155px;
		background-image: url(../img/maniquies.jpg);
		background-size: 250px;
		margin-top: 60px;
	}

	.display-image2{
		width: 250px;
		height: 250px;
		position: absolute;
		top: 800px;
  		right: 170px;
		background-image: url(../img/maniquies.jpg);
		background-size: 250px;
		background-position-y: -300px;

	}

}

@media screen and (max-width: 600px){

	input[type="radio"]{
		margin-left: 30px;
	}

	.display-image{
		width: 265px;
		height: 300px;
		position: absolute;
		top: 440px;
   		right: 100px;
		background-image: url(../img/maniquies.jpg);
		background-size: 250px;
		margin-top: 60px;
	}

	.display-image2{
		width: 250px;
		height: 250px;
		position: absolute;
		top: 800px;
		right: 115px;
		background-image: url(../img/maniquies.jpg);
		background-size: 250px;
		background-position-y: -300px;

	}

	.container{
		margin-top: 342px;
	}
}

@media screen and (max-width: 500px){

	input[type="radio"]{
		margin-left: 50px;
	}

	.display-image{
		width: 265px;
		height: 300px;
		position: absolute;
		top: 600px;
		right: 82px;
		background-image: url(../img/maniquies.jpg);
		background-size: 250px;
		margin-top: 60px;
	}

	.display-image2{
		width: 250px;
		height: 250px;
		position: absolute;
		top: 960px;
    	right: 98px;
		background-image: url(../img/maniquies.jpg);
		background-size: 250px;
		background-position-y: -300px;

	}

	.container{
		margin-top: 489px;
	}
}

@media screen and (max-width: 420px){
	.contenedor{
		width: 100%;
	}

	#uno{background-position-x: 77px;}
	#dos{background-position-x: 77px;}
	#tres{background-position-x: 77px;}
	#cuatro{background-position-x: 77px;}
	#cinco{background-position-x: 77px;}
	#seis{background-position-x: 77px;}
	#siete{background-position-x: 77px;}

	#cinco:checked~ .display-image{
		background-image: url(../img/pruebaArriba2.jpg);
		background-size: 246px;
	}

	#cuatro:checked~ .display-image2 {
		background-image: url(../img/pruebaAbajo1.jpg);
		background-size: 220px;
		background-position-y: 0px;
		background-position-x: 18px;
	}

	input[type="radio"]{
		margin-left: 36px;
		height: 20%;
		width: 20%;
	}
	.display-image{
		right: 69px;
    	top: 380px;
	}
	.display-image2{
		right: 84px;
		top: 739px;
		width: 250px;
		height: 250px;
	}

	section,
	.container,
	.container-fluid {
  	margin-top: 255px;
  	position: relative;
  	word-wrap: break-word;
  	}

}

@media screen and (max-width: 400px){
	.contenedor{
		width: 100%;
	}

	input[type="radio"]{
		margin-left: 36px;
		height: 20%;
		width: 20%;
	}
	.display-image{
		right: 30px;
		top: 370px;
	}
	.display-image2{
		right: 46px;
    	top: 729px;
	}
}

@media screen and (max-width: 350px){

	input[type="radio"]{
		margin-left: 30px;
	}
}