.contenedor{
	width: 100%;
	height: 550px;
}

input[type="radio"]{
 	width: 145px;
 	height: 170px;
 	border: 2px solid white;
 	display: block;
 	-webkit-appearance: none;
	margin-top: 10px;
	margin-left: 400px;
	size: 100px;
	z-index: 2;
	cursor: pointer;
}

.display-image{
	width: 265px;
	height: 545px;
	position: absolute;
	top: 75px;
	right: 650px;
	background-image: url(../img/maniquies.jpg);
	background-size: 250px;
	z-index: 1;
	margin-top: 60px;
	border: 3px solid white;
}

.camaraPrimero{
	margin-top: 10px;
	width: 70px;
	height: 70px;
	margin-left: 650px;
}

.camara{
	margin-top: 10px;
	width: 70px;
	height: 70px;
	margin-left: 50px;
}

#uno{
	background-image: url(../../Abrigo/FotosProductos/abrigoCanguro.jpg);
	background-size: cover;
}
#dos{
	background-image: url(../../Jersey/FotosProductos/jerseyRayas.jpg);
	background-size: cover;
}
#tres{
	background-image: url(../../DetallesProductos/img/camisetaBasicaAzul1.jpg);
	background-size: cover;
}

#uno:checked~ .display-image{background-image: url(../img/uno.jpg);}
#dos:checked~ .display-image{background-image: url(../img/cinco.jpg);}
#tres:checked~ .display-image{background-image: url(../img/seis.jpg);}