html{
	padding: 0px;
	margin: 0px;
}
body{
	background-color: #e6ecf0;
	padding: 0px;
	margin: 0px;
}
header{
	width: 100%;
	height: 60px;
	background: #fff;
	color:white;
}
a{
	color: #4a4a4a;
	font-weight: bolder;
	font-size: 1.2rem;
	text-decoration: none;
}
header a{
	width: 50px;
	left: 90%;
	display: inline-block;
	vertical-align: top;
	position: fixed;
	z-index: 2;

}
header a img{
	margin-top: 5px;
	margin-left:20px;
	margin-bottom:10px;
	width: 100%;
}

section{
	width: 80%;
	min-height: 500px;
	padding: 2%;
	margin:0 auto;
	margin-left: 10%;
	margin-top: 50px;
}
fieldset{
	border:none;
}
#logo{
	margin-top: 7px;
  margin-right: 40px;
  margin-left: 10px;
  width: 205px;
  height: 37px;
}
.producto{
	width: 22%;
	margin-left: 4.5%;
	margin-bottom: 25px;
	box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.22);
	font-weight: bolder;
	font-size: 1.2rem;
 	display:inline-flex;
	flex-direction: column;
	align-items: center;
	align-self: flex-start;

	transition: all .4s;
}

.producto img{
	width: 100%;

}


.precio{
	margin: 2px;
}

.nombreElemento{
	width: 100%;
	padding: 8px 2px;
	background: #87c0cd;
	color: #fff;
	text-align: center;
	text-decoration: none;
	font-family: 'Open Sans', sans-serif;
}

.producto .eliminar{
	background-color: #b91818;
	font-family: 'Open Sans', sans-serif;
	color:white;
	margin: 4px;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 3px;
	padding-bottom: 3px;
	border-radius: 20px;
}

.volver{
	margin-top: 15px;
	padding-top: 10px;
	font-weight: bolder;

}

.aceptar{
	background-color: #226597;
	border-radius: 30px;
	padding: 10px 15px;
	text-transform: uppercase;
	font-family: 'Open Sans', sans-serif;
	text-decoration: none;
	color:white;
	font-weight: 700;
}

.vestuario{
	width: 50%;
	height:40%;
	position: center;
}

.aceptar:hover{
	background-color: #4a4a4a;
	cursor: pointer;
}

nav {
  width  : 35%;
  position: absolute;
  z-index: 3;
  left: 18%;
  top:.5%;
}

menu:after , menu:before {
  display : block;
  content : ' ';
}

menu:after {
  clear : both;
}

li {
  list-style-type : none;


  float   : left;
  cursor  : pointer;
  padding : 3px 10px;


}

li:first-child {
  border-radius : 5px 0 0 5px;
}

li:last-child {
  border-radius : 0 5px 5px 0;
}

li a {
  display : block;
  padding : 10px 13px;
  font-size : 26px;
  text-decoration : none;
  border-radius   : 5px;
  position        : relative;
  top   : 0;
  color : #FFF;			
  transition : all .4s;
}

li:hover a {
  top   : -20px;
  color : #4eacff;
  background-color: #fff;
  box-shadow : 0 0 5px 0 rgba(255, 255, 255, 0.7);
  transition : all .4s;
}

li a:after {
  display  : block;
  content  : '';
  position : absolute;
  top  : 100%;
  left : 42%;
  border-style : solid;
  border-color : transparent;
  border-width : 5px 5px 0 5px;
  transition   : all .4s;
}

li:hover a:after {
  border-color : white transparent transparent transparent;
  transition   : all .4s;
}

/*************************************/



.menu2 a {
  font-family : georgia;
  font-size   : 14px;
  font-style  : italic;
  text-transform : capitalize;
}

.menu2 li {
  border-right  : 1px solid rgba(200,200,255,0.5);
  border-left   : 1px solid rgba(40,40,40,0.2); 
}

.selected {
  top   : -20px;
  color : #4eacff;
  background-color: #fff;
  box-shadow : 0 0 5px 0 rgba(255, 255, 255, 0.7);
  transition : all .4s;
}

.selected:after {
  border-color : white transparent transparent transparent;
  transition   : all .4s;
}

a.fun {
  display : none;
}

#formulario{
	width: 50%;
	height: auto;
	
	margin:0 auto;
}
input{
	width: 80%;
	height: 30px;
	border:1px solid #fafafa;
	color:#1e1e1e;
}